doctype 5
html(lang="en")
  head
    title osmitude
  body
    h1 osmitude
    if( isAuthenticated )
      p logged in!
      p= user
      a(href='/logout') Logout
    else
      a(href='/login') Login
