doctype 5
html(lang="en")
  head
    title 'osmitude - your google latitude position on openstreetmap'
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
    link(rel='stylesheet', type='text/css', media='screen', href='leaflet/leaflet.css')
  body
    h1 osmitude
    if( isAuthenticated )
      p logged in!
      p= user
      a(href='/logout') Logout
      br
      a(href='#',id='update') Update Location
      br
      #wrapper(class='clearfix')
        #location
        #error
    else
      a(href='/login') Login
    #map
    script(src='leaflet/leaflet.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='app.js')
