doctype 5
html(lang="en")
  head
    title osmitude - your google latitude position on openstreetmap
    link(rel='stylesheet', type='text/css', media='screen', href='style.css')
    link(rel='stylesheet', type='text/css', media='screen', href='leaflet/leaflet.css')
  body
    #nav
      #content
        if( isAuthenticated )
          span Logged in as #{user.name}
          &nbsp;|&nbsp;
          a(href='/logout') Logout
          &nbsp;|&nbsp;
          a(href='#',id='update_now') Update now
          &nbsp;|&nbsp;
          a(href='#',id='update') Toggle Updating
          &nbsp;|&nbsp;
          span Updating is&nbsp;
          span(id='update_status',style='color:green;') ON
          &nbsp;|&nbsp;
          a(href='#',id='dev') Toggle Dev Mode
          &nbsp;|&nbsp;
          span Dev Mode is&nbsp;
          span(id='dev_status',style='color:red;') OFF
          &nbsp;|&nbsp;
          a(href='#',id='hide') Hide Controls (press h to return)
        else
          a(href='/login') Login with your Google Account to see your location.
    #map
    script(src='leaflet/leaflet.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='app.js')
