* {
  margin: 0px;
  padding: 0px;
}

#location {
  width:40%;
  border: 1px dashed gray;
  margin:10px;
  float:left;
  min-height:100px;
}

#error {
  width:40%;
  border: 1px solid red;
  margin:10px;
  float:left;
  min-height:100px;
}

#update {
  font-size:150%;
}

/* taken from http://www.webtoolkit.info/css-clearfix.html */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
  width:100%;
}
